<h1>Editing rank check</h1>

<%= render "form", rank_check: @rank_check %>

<br>

<div>
  <%= link_to "Show this rank check", @rank_check %> |
  <%= link_to "Back to rank checks", rank_checks_path %>
</div>
