.queries {
    width: 100%;
    table.table01 {
        width: 100%;
        border-right: #3EB1C6 solid 1px;
        border-collapse: collapse;
      
        thead th {
          background: #3EB1C6;
          color: #FFF;
          padding: 10px 15px;
          border-right: #FFF solid 1px;
          border-bottom: #FFF solid 1px;
      
          &:last-child {
            border-right: #3EB1C6 solid 1px;
          }
        }
      
        tbody {
          th {
            background: #3EB1C6;
            color: #FFF;
            padding: 10px 15px;
            border-bottom: #FFF solid 1px;
            vertical-align: top;
          }
      
          tr:last-child th {
            border-bottom: #3EB1C6 solid 1px;
          }
      
          td {
            background: #FFF;
            padding: 10px 15px;
            border-left: #3EB1C6 solid 1px;
            border-bottom: #3EB1C6 solid 1px;
            vertical-align: top;
          }
        }
      }
      
      @media screen and (max-width: 640px) {
        table.table01 {
          thead {
            display: none;
          }
      
          tbody {
            th {
              display: block;
            }
      
            td {
              display: block;
      
              &::before {
                content: attr(label);
                float: left;
                clear: both;
                font-weight: bold;
              }
      
              p {
                padding-left: 6em;
              }
            }
          }
        }
    }
}